header{
    background: #eee;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 64px;
    font-size: 40px;
    padding: 12px;
    font-weight: lighter;
    ul{
        list-style: none;
        display: block;
        width: 100vw;
        margin: 0px;
        li{
            display: inline-block;
            min-width: 85px;
            width: max-content;
            padding: 0px 30px;
            font-size: 28px;
        }
    }
}

@media screen and (max-width: 700px){
    header{
        height: 48px;
        font-size: 32px;
        padding: 8px;
        ul li{
            display: block;
            min-width: max-content;
        }
    }
}